<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.duiba.component_base">
    <!--允许读取4g网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
