<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.duiba.component_main">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".application.MainApplication"
        android:allowBackup="false"
        android:label="@string/main_app_name"
        android:supportsRtl="true"
        android:theme="@style/base_commonAppTheme"
        tools:replace="android:label">

        <activity android:name=".MainTestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.WebviewActivity" />
        <activity android:name=".AnimActivity" />
        <activity android:name=".IOActivity" />
        <activity android:name=".LottieActivity" />
        <activity android:name=".WebpActivity" />
        <activity android:name=".TransitionActivity"
            android:label="TransitionActivity"
            />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
